---
title: CV
subtitle: Freelance user experience and service designer
layout: layouts/page.njk
---

Recruiters, please feel free to <a href="contact">contact me</a> if there's a role you think I might be interested in and I'll share my CV.