---
title: Dan Sensecall
subtitle: Freelance user experience and service designer
layout: layouts/layout.njk
---

<div class="columns">
	<div class="column is-two-thirds">
		<div class="content">
			<p class="is-size-4">
				<span class="wave">Hi!</span> I’m Dan. I'm a UK-based user experience and service design consultant with a background in interaction design and web development.
			</p>

			<p>
				<img src="/assets/images/ux-workshop.jpg" style="opacity:0.5;">
			</p>

			<p>
				That means I <span class="love">love</span> tackling complex business problems head-on, designing innovative and engaging products to provide a compelling user experience and help businesses, agencies and other organisations meet their <span class="goal">goals{% include 'confetti.html' %}</span>.
			</p>

			<p>
				Things I can help you with include:
			</p>

			<ul>
				<li>user experience & interaction design</li>
				<li>service design</li>
				<li>user journey mapping</li>
				<li>wireframing</li>
				<li>interactive prototyping</li>
				<li>persona creation</li>
				<li>product design & strategy</li>
			</ul>

			<h3>
				Things I've done
			</h3>

			<p>
				I’ve delivered a variety of projects working with organisations such as the <b>Department for Education</b>, <b>npower</b>, <b>Sainsbury’s</b>, <b>ASDA</b> and loads more including several startups.
			</p>

			<p>
				Some projects worth a mention:
			</p>

			<ul>
				<li>creating a Living Style Guide at Sainsbury’s</li>
				<li>enterprise iPad app & backoffice system for a multi-national manufacturer</li>
				<li>a platform for meal ordering & payment</li>
				<li>an app to improve colleague productivity</li>
				<li>co-founder and design lead at a small digital agency</li>
				<li>ASDA's very first mobile app</li>
			</ul>

			<h3>
				What I'm doing now
			</h3>

			<p>
				I’m working with the <a href="http://gov.uk/esfa" target="_blank">Education and Skills Funding Agency</a> (part of the Department for Education) to improve the Apprenticeships service, but I'm always interested to hear about exciting roles and other side projects.
			</p>

			<p>
				If you'd like to discuss a role or project, feel free to <a href="contact">get in touch</a>.
			</p>

			<p>
				<img src="/assets/images/wall.jpg">
			</p>
		</div>
	</div>
</div>