---
title: Dan Sensecall
subtitle: Freelance user experience and service designer
layout: layouts/layout.njk
---

<div class="columns">
	<div class="column is-two-thirds">
		<div class="content">
			<p class="is-size-4">
				I’m a UK-based <a href="#">user experience</a> and <a href="#">service design</a> consultant with a background in <a href="#">interaction design</a> and <a href="#">web development</a>.
			</p>

			<p>
				I love tackling complex business problems head-on, turning them into innovative and engaging products that provide compelling user experiences and deliver against KPIs for businesses, agencies and other organisations.
			</p>

			<p>
				Things I can help you with include:
			</p>

			<ul>
				<li>experience & interaction design</li>
				<li>service design</li>
				<li>user journey mapping</li>
				<li>wireframing</li>
				<li>interactive prototyping</li>
				<li>persona creation</li>
				<li>product design & strategy</li>
			</ul>

			<h3>
				What I've done
			</h3>

			<p>
				I’ve delivered a variety of projects working with organisations including npower, Sainsbury’s, ASDA, BNP Paribas and several startups. Some projects include:
			</p>

			<ul>
				<li>Creating a Living Style Guide at Sainsbury’s</li>
				<li>Enterprise iPad app & backoffice system for a multi-national manufacturer</li>
				<li>An app to improve colleague productivity</li>
				<li>A platform for meal ordering & payment</li>
				<li>Founded and led a small digital agency for more than 3 years</li>
			</ul>

			<h2>
				Hire me
			</h2>

			<p>
				I’m currently working with the Education and Skills Funding Agency (part of the Department for Education) as an Interaction Designer, but I'm always interested to hear about exciting roles and other side projects.
			</p>

			<p>
				If you'd like to discuss a role or project it would be great to hear from you.
			</p>

			<p>
				Phone: 07702 310015
			</p>

			<p>
				Email: dan@uiux.ltd
			</p>
		</div>
	</div>
</div>