---
title: Writing
subtitle: Freelance user experience and service designer
layout: layouts/layout.njk
---

{% if collections.post.length %}
{%- for post in collections.post -%}
<h2 class="is-size-3">
	<a href="{{post.url}}">{{ post.data.title }}</a>
</h2>

{% if post.data.tags %}
<ul class="tags">
	{%- for tag in post.data.tags -%}
	<li class="tag is-light is-rounded">
		{{tag}}
	</li>
	{%- endfor -%}
</ul>
{% endif %}
{%- endfor -%}
{% else %}
<p>
	It's all in my head&hellip; at least until I finish setting up this site.
</p>

<p>
	More soon, hopefully. 🤞
</p>
{% endif %}