---
title: Writing
subtitle: Freelance user experience and service designer
layout: layouts/page.njk
---

{% set postListHeading = postsHeading %}
{% set postListItems = collections.postFeed %}

{% if postListItems.length %}
<section>
	<h2>{{ postListHeading }}</h2>
	<ol class="list-unstyled" reversed>
		{% for item in postListItems %}
		<li>
			<h3>
				<a href="{{ item.url }}" rel="bookmark">{{ item.data.title }}</a>
			</h3>
			<p>
				<time datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
			</p>
		</li>
		{% endfor %}
	</ol>
</section>
{% else %}
<p>
	It's all in my head&hellip; at least until I finish setting up this site.
</p>

<p>
	More soon, hopefully. 🤞
</p>
{% endif %}