<footer class="is-clearfix">
	<p class="is-pulled-left has-text-grey-light">
		&copy; Dan Sensecall 2009&mdash;2020
	</p>

	<nav class="breadcrumb has-dot-separator is-pulled-right" aria-label="breadcrumbs">
	<ul>
		<li>
			<a href="https://twitter.com/sensecall">Twitter</a>
		</li>
		<li>
			<a href="https://linkedin.com/in/sensecall">LinkedIn</a>
		</li>
		<li>
			<a href="/cv">CV</a>
		</li>
	</ul>
</nav>
</footer>