<header class="page-header">
	<nav class="breadcrumb is-large" aria-label="breadcrumbs">
		<ul>
			<li>
				<a href="/">home</a>
			</li>
			<li>
				<a href="/about">about</a>
			</li>
		</ul>
	</nav>
	<h1 class="title is-1">{{ title }}</h1>
	{%- if subtitle %}<p class="subtitle is-3">{{ subtitle }}</p>{% endif %}
</header>