<header class="page-header">
	<div class="is-clearfix">
		{% include 'nav.html' %}
	</div>

	<h1 class="title is-1">{{ title }}</h1>
	{%- if subtitle %}<p class="subtitle is-3">{{ subtitle }}</p>{% endif %}
</header>

<img src="/assets/images/swash.png" width="80">