<header class="page-header">
	<div class="is-clearfix">
		{% include 'nav.html' %}
	</div>

	<h1 class="title is-3 has-text-weightnormal">{{ title }}</h1>
	{%- if subtitle %}<h2 class="subtitle is-5 has-text-grey">{{ subtitle }}</h2>{% endif %}
</header>