<nav class="is-pulled-left" aria-label="breadcrumbs">
	<ul class="nav">
		<li class="nav-item">
			<a href="/" class="nav-link"><b>Dan Sensecall</b></a>
		</li>
		<li class="nav-item{% if title == 'Writing' %} is-active{% endif %}">
			<a href="/writing" class="nav-link">Writing</a>
		</li>
		<li class="nav-item{% if title == 'Contact' %} is-active{% endif %}">
			<a href="/contact" class="nav-link">Contact</a>
		</li>
	</ul>
</nav>