// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$font-family-base: 'Work Sans', sans-serif;
$font-size-base: 19;

$link-color: #3273dc;

$body-color: #192628;

$headings-margin-bottom: $spacer;
$headings-font-weight: 800;
$headings-color: #363636;
$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;

$hr-border-color: rgba($black, .1) !default;
$hr-border-width: $border-width * 2;

$paragraph-margin-bottom: 1em;
$lead-font-size: $font-size-base * 1.5;

// Optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/utilities";


// Fonts
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Work Sans:300,400,400i,700,700i');

html {
	background: rgb(249,252,255);
	height: 100%;
	letter-spacing: -0.4px;
}

body {
	background: transparent;
}

.lead {
	font-weight: 400;
}

@include media-breakpoint-down(lg) {
	html {
		font-size: 1rem;
	}
}

@include media-breakpoint-down(md) {
	html {
		font-size: 0.95rem;
	}
}

@include media-breakpoint-down(sm) {
	html {
		font-size: 0.875rem;
	}
}

a:focus {
	background-color: #ffbf47;
	outline: 3px solid #ffbf47;
}

header {
	margin: 3rem 0;

	nav {
		margin: 8rem 0 2rem 0;
	}
}

footer {
	padding-top: 2rem;
	margin: 4rem 0;
}

.nav-links .list-inline-item {
	&.active a {
		color: $gray-600;

		&:hover {
			text-decoration: none;
			cursor: text;
		}
	}
	&:not(:last-child) {
		margin-right: 2rem;
	}
}

img {
	height: auto;
	max-width: 100%;
}


// Type
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	&:not(:first-child) {
		margin-top: $headings-margin-bottom * 2;
	}
}




// Animations
.wave {
	cursor: default;
	&:hover,
	&:focus {
		display: inline-block;
		animation: waver 0.25s alternate infinite;
		transform-origin: 50% 90%;
		animation-timing-function: ease-in-out;
	}
}

.love {
	cursor: default;
	&:hover,
	&:focus {
		color: red;
		text-shadow: 0 0 20px red, 0 0 1px white;
		display: inline-block;
		animation: lover 1s infinite;
		transform-origin: 50% 100%;
		animation-timing-function: ease-in-out;
	}
}

@keyframes waver {
	0% {transform: rotate(-25deg);}
	100% {transform: rotate(25deg);}
}

@keyframes lover {
	0% {transform: scale(1);}
	15% {transform: scale(1.2);}
	30% {transform: scale(.8);}
	45% {transform: scale(1.2);}
	60% {transform: scale(.95);}
}

@keyframes bang {
	from {
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}
.goal {
	cursor: pointer;
	position: relative;
	i {
		position: absolute;
		display: block;
		left: 50%;
		top: 50%;
		width: 3px;
		height: 5px;
		background: red;
		opacity: 0;
	}
	&:hover,
	&:focus {
		@for $i from 1 through 50 {
			i:nth-of-type(#{$i}) {
				transform: translate3d(random(200) - 100 + px,random(100) - 100 + px,0) rotate(random(360) + deg) scale(0);
				background: hsla(random(360),100%,50%,1);
				animation: bang 1s ease-out forwards;
				opacity: 0;
			}
		}
	}
}