<!doctype html>
<html lang="en">

{% include "head.njk" %}

<body class="{{ bodyClass }}">
	<div class="container">
		<a class="sr-only sr-only-focusable" href="#content">Skip to content</a>

		<header role="banner">
			<nav class="nav-links">
				<ul class="list-inline">
					<li class="list-inline-item">
						<a class="font-weight-bold text-dark" href="/">Dan Sensecall</a>
					</li>
					<li class="list-inline-item{% if title == 'Writing' %} active{% endif %}">
						<a href="/writing">Writing</a>
					</li>
					<li class="list-inline-item{% if title == 'Contact' %} active{% endif %}">
						<a href="/contact">Contact</a>
					</li>
				</ul>
			</nav>
			
			{% if page.url == '/' %}
			{%- if subtitle %}<h1 class="sr-only">{{ subtitle }}</h1>{% endif %}
			{% endif %}
		</header>

		<main id="content" tabindex="-1">
			<div class="row">
				<div class="col-md-8">
					{% if page.url != '/' %}
					<h1>
						{{ title }}
					</h1>
					{% endif %}

					{% block content %}
					{% endblock content %}
				</div>
			</div>
		</main>

		<footer>
			<div class="row justify-content-between">
				<nav class="col-sm order-sm-last nav-links">
					<ul class="list-inline text-sm-right">
						<li class="list-inline-item">
							<a href="https://twitter.com/sensecall">Twitter</a>
						</li>
						<li class="list-inline-item">
							<a href="https://linkedin.com/in/sensecall">LinkedIn</a>
						</li>
						<li class="list-inline-item">
							<a href="/cv">CV</a>
						</li>
					</ul>
				</nav>


				<div class="col-sm">
					<p class="text-muted">
						&copy; Dan Sensecall 2009&mdash;2019
					</p>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>