<!doctype html>
<html lang="en">

{% include "head.njk" %}

<body class="{{ bodyClass }}" >
	<section class="section">
		<div class="container">
			{% include "header--page.njk" %}

			<main role="main">
				<div class="row">
					<div class="col-sm">
						<div class="content">
							<h1>
								{{ title }}
							</h1>
							{{ content | safe }}
						</div>
					</div>
				</div>
			</main>

			{% include "footer.njk" %}
			<script></script>
		</div>
	</section>
</body>
</html>