{% extends 'layouts/layout.njk' %}
{% set pageType = 'Post' %}

{% block content %}
<article>
	<p>
		<time datetime="{{ date | w3DateFilter }}">{{ date | dateFilter }}</time>
	</p>

	{{ content | safe }}

	{% if tags %}
	<footer>
		<h2 class="h4">
			Tagged
		</h2>

		<ul class="list-inline">
			{% for item in tags %}
			<li class="list-inline-item">
				<a href="/tags/{{ item }}">{{ item }}</a>
			</li>
			{% endfor %}
		</ul>
	</footer>
	{% endif %}
</article>
{% endblock %}

{{ content | safe }}
