---
layout: layouts/layout.njk
pageClass: posts
---

<p class="date">
  Posted as an example, on <time datetime="date">{{post.date}}</time>
</p>
<main>
  {{ content | safe }}
  
  <div class="footnote">
    <p>
      This page is part of the posts section.
    </p>
  </div>
</main>